<div style="display:block; margin-bottom:50px">
<h1 style="margin-bottom:25px; margin-top: 25px; font-size:3rem;color:#4c76ce;text-align:center;">
    Praktinis Projektas: Gapminder Duomenų Vizualizacija</h1>
    
<h2 style="margin-bottom: 25px;font-size:2.5rem;text-align:center;color:#8d1c1a;">
    1. Pirminė duomenų analizė
    </h2>
       
<img src="https://raw.githubusercontent.com/lajmcourses/Images/master/bokeh.png"
     style="position:absolute;top:5px;left:25px;height:150px;width:auto;margin-bottom:35px;">
</div>

In [1]:
import numpy as np
import pandas as pd

from bokeh.plotting import figure,  output_notebook, show

output_notebook()

pd.options.display.precision = 2
pd.options.display.float_format = '{:.2f}'.format
pd.options.display.max_columns = 72
pd.options.display.max_rows = 300


## 1. Analizės klausimai

1) Kokie duomenys yra reikalingi **Gapminder Reproduction** duomenų vizualizacijai atkurti?

2) Kokių duomenų trūksta?

3) Kokiu formatu turi būti pateikiami duomenys?

4) Kaip reikėtų pertvarkyti pirminius duomenis?


## 2. Duomenys reikalingi Gapminder Reproduction vizualizacijai atkartuoti


1. Pasaulio šalys: data/countries.csv

2. Gimstamumas: data/wb_fertility_rate.csv

3. Gyvenimo trukmė: data/wb_life-expectancy.csv

4. Gyventojų skaičius: data/wb_world_population.csv


## 3. Pirminių duomenų šaltinių analizė

### 3.1 Pasaulio šalys

In [2]:
# Data reading from csv

df_countries = pd.read_csv("data/countries.csv") 

df_countries.head()

       Country ISO Codes ISO2 ISO3 Continent
0  Afghanistan  AF / AFG   AF  AFG      Asia
1      Albania  AL / ALB   AL  ALB    Europe
2      Algeria  DZ / DZA   DZ  DZA    Africa
3      Andorra  AD / AND   AD  AND    Europe
4       Angola  AO / AGO   AO  AGO    Africa

In [3]:
# Stulpelių pervadinimas: 'ISO3':'Country Code', 'Country':'CountryName'
df_countries.rename({
    "ISO3": "Country Code",
    "Country": "Country Name"
}, axis="columns", inplace=True)

# Stulpelių pašalinimas
df_countries.drop(columns=["ISO Codes", "ISO2"], inplace=True)

In [4]:
df_countries.head()

  Country Name Country Code Continent
0  Afghanistan          AFG      Asia
1      Albania          ALB    Europe
2      Algeria          DZA    Africa
3      Andorra          AND    Europe
4       Angola          AGO    Africa

In [5]:
# Duomenų kiekis

print("Number of rows:", df_countries.shape[0])
print("Number of columns:", df_countries.shape[1])

Number of rows: 184
Number of columns: 3

In [6]:
# Bazinė duomenų statistika

df_countries.describe()

       Country Name Country Code Continent
count           184          184       184
unique          184          184         6
top     Afghanistan          AFG    Africa
freq              1            1        49

### 3.2 Gimstamumas

In [16]:
# Data reading from csv

df_fertility = pd.read_csv("data/wb_fertility_rate.csv") 
df_fertility.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.82,4.66,4.47,4.27,4.06,3.84,3.62,3.42,3.23,3.05,2.91,2.79,2.69,2.61,2.55,2.51,2.47,2.45,2.42,2.41,2.39,2.38,2.36,2.35,2.34,2.33,2.32,2.31,2.29,2.27,2.25,2.22,2.19,2.15,2.11,2.06,2.02,1.98,1.94,1.90,1.87,1.85,1.82,1.80,1.79,1.77,1.76,1.76,1.76,1.76,1.77,1.78,1.79,1.81,1.83,1.85,1.87,1.89,1.90,1.90,1.90
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.72,6.74,6.75,6.77,6.78,6.78,6.79,6.80,6.80,6.81,6.81,6.81,6.81,6.81,6.80,6.79,6.78,6.76,6.75,6.73,6.71,6.69,6.66,6.63,6.60,6.56,6.51,6.45,6.38,6.31,6.23,6.15,6.07,6.00,5.93,5.86,5.80,5.74,5.68,5.63,5.57,5.52,5.47,5.42,5.37,5.32,5.27,5.21,5.16,5.09,5.03,4.96,4.88,4.80,4.73,4.65,4.57,4.49,4.42,4.35,4.28
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.46,7.46,7.46,7.46,7.46,7.46,7.47,7.48,7.50,7.54,7.57,7.61,7.63,7.63,7.61,7.56,7.49,7.39,7.27,7.15,7.02,6.88,6.72,6.55,6.37,6.18,5.98,5.77,5.56,5.36,5.16,4.98,4.80,4.63,4.47,4.32,4.18
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.44,6.46,6.47,6.49,6.50,6.52,6.54,6.56,6.59,6.62,6.65,6.69,6.72,6.76,6.79,6.81,6.83,6.85,6.86,6.86,6.86,6.85,6.84,6.82,6.79,6.75,6.71,6.67,6.62,6.57,6.52,6.47,6.41,6.36,6.31,6.26,6.21,6.16,6.12,6.07,6.03,5.99,5.95,5.91,5.87,5.83,5.78,5.74,5.70,5.65,5.61,5.56,5.50,5.45,5.38,5.32,5.25,5.18,5.11,5.04,4.98
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.71,6.79,6.87,6.95,7.04,7.12,7.19,7.27,7.33,7.39,7.43,7.47,7.49,7.50,7.50,7.49,7.49,7.47,7.47,7.46,7.46,7.46,7.46,7.46,7.46,7.45,7.43,7.41,7.37,7.33,7.27,7.21,7.14,7.07,6.99,6.92,6.85,6.79,6.73,6.68,6.64,6.60,6.57,6.53,6.50,6.46,6.42,6.37,6.32,6.26,6.19,6.12,6.04,5.95,5.86,5.77,5.69,5.60,5.52,5.44,5.37

## Duomenų redagavimas: šalių duomenys, kurių nėra df_contries lentelėje, pašalinimas

In [17]:
# Stulpelių pašalininas: Indicator Name, Indicator Code

df_fertility.drop(columns=["Indicator Name", "Indicator Code"], inplace=True)
df_fertility.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,4.82,4.66,4.47,4.27,4.06,3.84,3.62,3.42,3.23,3.05,2.91,2.79,2.69,2.61,2.55,2.51,2.47,2.45,2.42,2.41,2.39,2.38,2.36,2.35,2.34,2.33,2.32,2.31,2.29,2.27,2.25,2.22,2.19,2.15,2.11,2.06,2.02,1.98,1.94,1.90,1.87,1.85,1.82,1.80,1.79,1.77,1.76,1.76,1.76,1.76,1.77,1.78,1.79,1.81,1.83,1.85,1.87,1.89,1.90,1.90,1.90
1,Africa Eastern and Southern,AFE,6.72,6.74,6.75,6.77,6.78,6.78,6.79,6.80,6.80,6.81,6.81,6.81,6.81,6.81,6.80,6.79,6.78,6.76,6.75,6.73,6.71,6.69,6.66,6.63,6.60,6.56,6.51,6.45,6.38,6.31,6.23,6.15,6.07,6.00,5.93,5.86,5.80,5.74,5.68,5.63,5.57,5.52,5.47,5.42,5.37,5.32,5.27,5.21,5.16,5.09,5.03,4.96,4.88,4.80,4.73,4.65,4.57,4.49,4.42,4.35,4.28
2,Afghanistan,AFG,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.46,7.46,7.46,7.46,7.46,7.46,7.47,7.48,7.50,7.54,7.57,7.61,7.63,7.63,7.61,7.56,7.49,7.39,7.27,7.15,7.02,6.88,6.72,6.55,6.37,6.18,5.98,5.77,5.56,5.36,5.16,4.98,4.80,4.63,4.47,4.32,4.18
3,Africa Western and Central,AFW,6.44,6.46,6.47,6.49,6.50,6.52,6.54,6.56,6.59,6.62,6.65,6.69,6.72,6.76,6.79,6.81,6.83,6.85,6.86,6.86,6.86,6.85,6.84,6.82,6.79,6.75,6.71,6.67,6.62,6.57,6.52,6.47,6.41,6.36,6.31,6.26,6.21,6.16,6.12,6.07,6.03,5.99,5.95,5.91,5.87,5.83,5.78,5.74,5.70,5.65,5.61,5.56,5.50,5.45,5.38,5.32,5.25,5.18,5.11,5.04,4.98
4,Angola,AGO,6.71,6.79,6.87,6.95,7.04,7.12,7.19,7.27,7.33,7.39,7.43,7.47,7.49,7.50,7.50,7.49,7.49,7.47,7.47,7.46,7.46,7.46,7.46,7.46,7.46,7.45,7.43,7.41,7.37,7.33,7.27,7.21,7.14,7.07,6.99,6.92,6.85,6.79,6.73,6.68,6.64,6.60,6.57,6.53,6.50,6.46,6.42,6.37,6.32,6.26,6.19,6.12,6.04,5.95,5.86,5.77,5.69,5.60,5.52,5.44,5.37

In [18]:
df_fertility = pd.merge(df_countries[["Country Code"]], df_fertility, on="Country Code", how="left")

In [19]:
# Duomenų kiekis

print("Number of rows:", df_fertility.shape[0])
print("Number of columns:", df_fertility.shape[1])

Number of rows: 184
Number of columns: 63

In [20]:
df_fertility.head()

,Country Code,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,AFG,Afghanistan,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.45,7.46,7.46,7.46,7.46,7.46,7.46,7.47,7.48,7.50,7.54,7.57,7.61,7.63,7.63,7.61,7.56,7.49,7.39,7.27,7.15,7.02,6.88,6.72,6.55,6.37,6.18,5.98,5.77,5.56,5.36,5.16,4.98,4.80,4.63,4.47,4.32,4.18
1,ALB,Albania,6.49,6.40,6.28,6.13,5.96,5.77,5.58,5.39,5.22,5.06,4.91,4.78,4.64,4.51,4.37,4.24,4.10,3.97,3.84,3.73,3.62,3.53,3.45,3.38,3.32,3.27,3.22,3.16,3.11,3.05,2.98,2.90,2.83,2.75,2.67,2.59,2.51,2.42,2.33,2.25,2.16,2.07,1.98,1.90,1.82,1.75,1.70,1.67,1.65,1.65,1.66,1.67,1.68,1.69,1.69,1.68,1.66,1.64,1.62,1.60,1.58
2,DZA,Algeria,7.52,7.57,7.61,7.65,7.67,7.67,7.68,7.67,7.67,7.66,7.64,7.62,7.60,7.56,7.50,7.43,7.34,7.23,7.11,6.96,6.79,6.62,6.43,6.24,6.04,5.83,5.63,5.41,5.19,4.96,4.73,4.48,4.22,3.96,3.70,3.45,3.21,2.99,2.80,2.63,2.51,2.44,2.40,2.40,2.44,2.50,2.57,2.65,2.73,2.80,2.86,2.91,2.95,2.99,3.02,3.04,3.05,3.04,3.02,2.99,2.94
3,AND,Andorra,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.18,1.25,1.19,1.27,1.25,1.25,1.25,1.25,1.25,1.25,1.25,1.25,1.25,1.25
4,AGO,Angola,6.71,6.79,6.87,6.95,7.04,7.12,7.19,7.27,7.33,7.39,7.43,7.47,7.49,7.50,7.50,7.49,7.49,7.47,7.47,7.46,7.46,7.46,7.46,7.46,7.46,7.45,7.43,7.41,7.37,7.33,7.27,7.21,7.14,7.07,6.99,6.92,6.85,6.79,6.73,6.68,6.64,6.60,6.57,6.53,6.50,6.46,6.42,6.37,6.32,6.26,6.19,6.12,6.04,5.95,5.86,5.77,5.69,5.60,5.52,5.44,5.37

In [21]:
df_fertility.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00,184.00
mean,5.39,5.39,5.38,5.36,5.34,5.30,5.25,5.22,5.17,5.13,5.08,5.03,4.97,4.90,4.85,4.79,4.73,4.67,4.62,4.58,4.53,4.48,4.43,4.37,4.32,4.26,4.20,4.14,4.08,4.01,3.95,3.87,3.79,3.71,3.63,3.56,3.49,3.42,3.35,3.30,3.25,3.19,3.14,3.11,3.07,3.04,3.02,2.99,2.98,2.95,2.92,2.88,2.86,2.82,2.79,2.76,2.73,2.69,2.66,2.63,2.61
std,1.83,1.83,1.85,1.86,1.87,1.90,1.92,1.92,1.94,1.95,1.97,1.97,1.99,2.02,2.02,2.03,2.04,2.06,2.07,2.06,2.06,2.06,2.06,2.05,2.04,2.02,2.00,1.98,1.94,1.92,1.90,1.88,1.86,1.85,1.84,1.82,1.81,1.79,1.78,1.76,1.73,1.72,1.70,1.68,1.65,1.62,1.59,1.56,1.52,1.50,1.47,1.45,1.42,1.39,1.36,1.33,1.30,1.28,1.26,1.24,1.19
min,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.24,1.19,1.16,1.14,1.09,1.09,1.13,1.12,1.08,1.09,1.17,1.16,1.08,1.13,1.18,1.19,1.15,1.15,1.20,1.25,1.19,1.21,1.24,1.17,1.05,0.98,0.92,1.08
25%,3.80,3.75,3.68,3.61,3.51,3.48,3.39,3.34,3.28,3.17,3.05,2.99,2.99,2.83,2.71,2.69,2.55,2.48,2.45,2.43,2.35,2.32,2.28,2.27,2.24,2.23,2.20,2.20,2.16,2.16,2.11,2.08,2.06,2.01,1.94,1.88,1.89,1.84,1.79,1.77,1.77,1.74,1.75,1.76,1.78,1.77,1.79,1.80,1.81,1.81,1.80,1.76,1.73,1.73,1.73,1.72,1.73,1.69,1.68,1.66,1.71
50%,6.16,6.17,6.17,6.15,6.08,5.97,5.98,5.97,5.91,5.80,5.72,5.60,5.50,5.36,5.31,5.21,5.15,5.07,5.02,4.89,4.78,4.62,4.48,4.35,4.27,4.19,4.07,4.00,3.90,3.75,3.59,3.54,3.46,3.28,3.20,3.10,3.03,2.98,2.91,2.85,2.77,2.69,2.64,2.60,2.56,2.51,2.49,2.50,2.48,2.45,2.35,2.33,2.34,2.30,2.28,2.30,2.28,2.26,2.23,2.20,2.19
75%,6.79,6.80,6.81,6.81,6.80,6.80,6.80,6.75,6.74,6.71,6.70,6.67,6.69,6.67,6.63,6.61,6.61,6.57,6.54,6.49,6.48,6.45,6.39,6.30,6.26,6.19,6.04,5.96,5.83,5.71,5.54,5.39,5.30,5.13,5.02,4.94,4.81,4.64,4.59,4.53,4.49,4.38,4.27,4.21,4.13,4.04,4.03,4.01,4.00,3.97,3.92,3.87,3.82,3.77,3.72,3.69,3.65,3.61,3.57,3.52,3.48
max,8.19,8.19,8.20,8.20,8.20,8.20,8.20,8.22,8.28,8.33,8.39,8.43,8.47,8.50,8.53,8.55,8.58,8.61,8.64,8.67,8.71,8.75,8.79,8.83,8.85,8.86,8.86,8.83,8.79,8.71,8.61,8.46,8.27,8.05,7.79,7.72,7.72,7.71,7.70,7.69,7.68,7.67,7.66,7.64,7.63,7.61,7.59,7.57,7.54,7.51,7.47,7.43,7.38,7.31,7.25,7.17,7.09,7.00,6.91,6.82,6.74

In [22]:
df_fertility.describe(include=object)

       Country Code Country Name
count           184          184
unique          184          184
top             AFG  Afghanistan
freq              1            1

### 3.3 Gyvenimo trukmė

In [23]:
# Data reading from csv

df_life_expectancy = pd.read_csv("data/wb_life-expectancy.csv") 

df_life_expectancy.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.66,66.07,66.44,66.79,67.11,67.44,67.76,68.09,68.44,68.78,69.14,69.50,69.85,70.19,70.52,70.83,71.14,71.44,71.74,72.02,72.29,72.54,72.75,72.93,73.07,73.18,73.26,73.33,73.38,73.42,73.47,73.51,73.54,73.57,73.60,73.62,73.65,73.67,73.70,73.74,73.79,73.85,73.94,74.04,74.16,74.29,74.43,74.58,74.72,74.87,75.02,75.16,75.30,75.44,75.58,75.72,75.87,76.01,76.15,76.29,76.43
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,42.72,43.17,43.60,44.03,44.43,44.83,45.21,45.59,45.97,46.35,46.73,47.10,47.47,47.83,48.17,48.50,48.81,49.10,49.37,49.62,49.87,50.12,50.36,50.61,50.85,51.06,51.21,51.30,51.31,51.25,51.15,51.05,50.96,50.89,50.84,50.81,50.80,50.82,50.90,51.04,51.28,51.61,52.04,52.59,53.23,53.97,54.79,55.68,56.61,57.55,58.47,59.35,60.19,60.95,61.65,62.26,62.79,63.25,63.65,64.01,64.33
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.45,32.96,33.47,33.97,34.46,34.95,35.43,35.91,36.40,36.90,37.41,37.93,38.46,39.00,39.56,40.13,40.72,41.32,41.94,42.59,43.24,43.92,44.62,45.32,46.04,46.76,47.49,48.21,48.93,49.64,50.33,51.00,51.64,52.26,52.84,53.40,53.92,54.42,54.91,55.38,55.84,56.31,56.78,57.27,57.77,58.29,58.83,59.38,59.93,60.48,61.03,61.55,62.05,62.52,62.97,63.38,63.76,64.13,64.49,64.83,65.17
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.21,37.63,38.05,38.46,38.87,39.26,39.66,40.07,40.48,40.91,41.37,41.84,42.33,42.83,43.34,43.86,44.37,44.89,45.40,45.90,46.37,46.80,47.19,47.53,47.83,48.08,48.28,48.45,48.60,48.72,48.82,48.89,48.92,48.93,48.93,48.91,48.90,48.91,48.96,49.05,49.22,49.48,49.82,50.24,50.73,51.28,51.87,52.46,53.05,53.61,54.14,54.65,55.14,55.62,56.09,56.54,56.97,57.38,57.76,58.12,58.45
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.52,37.81,38.11,38.43,38.76,39.10,39.45,39.81,40.18,40.55,40.91,41.28,41.65,42.02,42.37,42.72,43.05,43.37,43.66,43.93,44.18,44.40,44.61,44.80,44.97,45.11,45.21,45.28,45.32,45.32,45.31,45.27,45.23,45.20,45.20,45.25,45.35,45.52,45.76,46.09,46.52,47.06,47.70,48.44,49.26,50.16,51.14,52.18,53.24,54.31,55.35,56.33,57.24,58.05,58.78,59.40,59.92,60.38,60.78,61.15,61.49

## Duomenų redagavimas: šalių duomenys, kurių nėra df_contries lentelėje, pašalinimas

In [24]:
df_life_expectancy = pd.merge(df_countries[["Country Code"]], df_life_expectancy, on="Country Code", how="left")

In [25]:
# Duomenų kiekis

print("Number of rows:", df_life_expectancy.shape[0])
print("Number of columns:", df_life_expectancy.shape[1])

Number of rows: 184
Number of columns: 65

In [26]:
# Skaitmeninių duomenų statistika
df_life_expectancy.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,172.00,173.00,173.00,172.00,172.00,172.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,173.00,174.00,174.00,175.00,174.00,174.00,174.00,174.00,175.00,174.00,174.00,176.00,176.00,176.00,175.00,176.00,177.00,176.00,178.00,176.00,176.00,178.00,177.00,178.00,177.00,177.00,178.00,177.00,177.00,177.00,177.00,177.00,177.00,178.00,177.00,177.00,177.00,177.00,177.00,177.00,177.00,176.00
mean,53.68,54.26,54.64,54.98,55.45,55.85,56.35,56.74,57.11,57.46,57.87,58.24,58.62,58.99,59.36,59.72,60.11,60.49,60.85,61.23,61.64,62.04,62.47,62.76,63.12,63.43,63.77,64.08,64.26,64.47,64.67,64.84,64.99,65.02,65.26,65.44,65.65,65.96,66.11,66.36,66.67,66.96,67.27,67.51,67.89,68.20,68.55,68.91,69.31,69.70,70.07,70.47,70.89,71.15,71.48,71.73,72.01,72.24,72.45,72.65,72.81
std,12.24,12.25,12.11,12.00,11.97,11.84,11.77,11.65,11.51,11.36,11.28,11.19,11.13,11.07,11.04,11.02,11.00,10.94,10.81,10.66,10.45,10.29,10.14,9.99,9.90,9.80,9.78,9.76,9.78,9.86,9.89,10.00,10.10,10.13,10.19,10.12,10.13,10.10,10.12,10.12,10.08,10.13,10.06,9.97,9.92,9.73,9.58,9.37,9.16,8.94,8.72,8.54,8.37,8.15,8.02,7.81,7.70,7.59,7.49,7.39,7.33
min,28.20,28.34,28.54,28.78,29.10,29.49,29.96,30.50,31.09,31.72,32.39,33.08,33.78,32.67,28.04,23.59,20.32,18.91,19.73,22.74,27.54,33.34,39.16,39.67,40.01,40.38,40.15,39.83,39.44,38.44,33.41,29.25,26.69,26.17,27.74,31.04,35.38,37.50,37.98,38.63,39.44,40.37,41.38,42.42,43.06,42.66,42.59,42.85,43.38,44.15,45.10,46.21,47.42,48.66,49.89,50.88,51.59,52.24,52.80,53.28,53.68
25%,43.50,44.05,44.78,45.26,45.85,46.54,47.41,48.14,48.69,49.01,49.25,49.62,49.91,50.21,50.51,51.23,52.04,52.45,52.79,53.24,53.68,54.01,54.44,54.61,54.81,55.22,55.77,56.20,56.49,57.01,57.39,57.37,57.52,57.91,58.05,58.48,58.67,59.12,59.01,58.95,59.31,59.49,60.02,60.50,61.06,61.41,61.65,62.13,62.68,63.09,63.52,64.52,65.31,65.72,66.14,66.55,66.77,66.95,67.11,67.27,67.47
50%,54.31,54.90,55.33,55.80,56.23,56.66,57.48,58.02,58.75,59.47,59.66,60.30,60.84,61.14,61.87,62.14,63.01,63.26,63.46,63.78,64.17,64.53,65.20,65.37,65.81,66.35,66.84,67.16,67.51,67.93,68.07,68.04,68.05,67.88,68.03,68.45,68.75,69.03,69.04,69.51,70.06,70.26,70.86,71.03,71.46,71.30,71.44,71.67,72.02,72.17,72.14,72.57,72.81,72.76,72.97,73.25,73.54,73.74,73.89,74.05,74.13
75%,64.64,65.13,65.41,65.78,66.20,66.62,67.26,67.45,67.67,67.87,68.16,68.50,68.73,69.01,69.25,69.29,69.45,69.74,69.74,69.98,70.16,70.40,70.66,70.62,70.85,71.08,71.48,71.57,71.48,71.61,71.61,71.81,72.01,72.25,72.46,72.65,72.87,73.18,73.48,73.78,73.95,74.29,74.68,74.61,75.04,75.15,75.30,75.38,75.54,75.70,76.03,76.23,76.60,76.90,77.03,77.28,77.47,77.63,77.63,77.86,78.06
max,73.55,73.65,73.72,73.56,73.73,73.87,74.08,74.12,74.01,74.08,74.65,74.62,74.72,74.87,74.98,75.58,76.97,76.37,76.65,76.77,76.85,76.52,77.04,76.96,77.58,77.65,78.06,78.48,78.40,78.82,78.84,79.10,79.15,79.29,79.69,79.54,80.20,80.42,80.50,80.57,81.08,81.42,81.56,81.76,82.03,81.93,82.32,82.51,82.68,82.93,82.84,82.70,85.42,83.33,83.59,83.79,83.98,84.10,84.21,84.36,84.65

In [28]:
# Kategorinių duomenų statistika
df_life_expectancy.describe(include=object)

,Country Code,Country Name,Indicator Name,Indicator Code
count,184,184,184,184
unique,184,184,1,1
top,AFG,Afghanistan,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN
freq,1,1,184,184

### 3.4 Gyventojų skaičius

In [14]:
# Data reading from csv

df_population = pd.read_csv("data/wb_world_population.csv") 

df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.00,55434.00,56234.00,56699.00,57029.00,57357.00,57702.00,58044.00,58377.00,58734.00,59070.00,59442.00,59849.00,60236.00,60527.00,60653.00,60586.00,60366.00,60102.00,59972.00,60097.00,60561.00,61341.00,62213.00,62826.00,63024.00,62645.00,61838.00,61072.00,61033.00,62152.00,64623.00,68240.00,72495.00,76705.00,80324.00,83211.00,85450.00,87280.00,89009.00,90866.00,92892.00,94992.00,97016.00,98744.00,100028.00,100830.00,101226.00,101362.00,101452.00,101665.00,102050.00,102565.00,103165.00,103776.00,104339.00,104865.00,105361.00,105846.00,106310.00,106766.00
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.00,134159786.00,137614644.00,141202036.00,144920186.00,148769974.00,152752671.00,156876454.00,161156430.00,165611760.00,170257189.00,175100167.00,180141148.00,185376550.00,190800796.00,196409937.00,202205766.00,208193045.00,214368393.00,220740384.00,227305945.00,234058404.00,240999134.00,248146290.00,255530063.00,263161451.00,271050065.00,279184536.00,287524258.00,296024639.00,304648010.00,313394693.00,322270073.00,331265579.00,340379934.00,349605660.00,358953595.00,368440591.00,378098393.00,387977990.00,398113044.00,408522129.00,419223717.00,430246635.00,441630149.00,453404076.00,465581372.00,478166911.00,491173160.00,504604672.00,518468229.00,532760424.00,547482863.00,562601578.00,578075373.00,593871847.00,609978946.00,626392880.00,643090131.00,660046272.00,677243299.00
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.00,9169406.00,9351442.00,9543200.00,9744772.00,9956318.00,10174840.00,10399936.00,10637064.00,10893772.00,11173654.00,11475450.00,11791222.00,12108963.00,12412960.00,12689164.00,12943093.00,13171294.00,13341199.00,13411060.00,13356500.00,13171679.00,12882518.00,12537732.00,12204306.00,11938204.00,11736177.00,11604538.00,11618008.00,11868873.00,12412311.00,13299016.00,14485543.00,15816601.00,17075728.00,18110662.00,18853444.00,19357126.00,19737770.00,20170847.00,20779957.00,21606992.00,22600774.00,23680871.00,24726689.00,25654274.00,26433058.00,27100542.00,27722281.00,28394806.00,29185511.00,30117411.00,31161378.00,32269592.00,33370804.00,34413603.00,35383028.00,36296111.00,37171922.00,38041757.00,38928341.00
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.00,98407221.00,100506960.00,102691339.00,104953470.00,107289875.00,109701811.00,112195950.00,114781116.00,117468741.00,120269044.00,123184308.00,126218502.00,129384954.00,132699537.00,136173544.00,139813171.00,143615715.00,147571063.00,151663853.00,155882270.00,160223588.00,164689764.00,169279422.00,173991851.00,178826553.00,183785612.00,188868567.00,194070079.00,199382783.00,204803865.00,210332267.00,215976366.00,221754806.00,227692136.00,233807627.00,240114179.00,246613750.00,253302310.00,260170348.00,267214544.00,274433894.00,281842480.00,289469530.00,297353098.00,305520588.00,313985474.00,322741656.00,331772330.00,341050537.00,350556886.00,360285439.00,370243017.00,380437896.00,390882979.00,401586651.00,412551299.00,423769930.00,435229381.00,446911598.00,458803476.00
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.00,5531451.00,5608499.00,5679409.00,5734995.00,5770573.00,5781305.00,5774440.00,5771973.00,5803677.00,5890360.00,6041239.00,6248965.00,6497283.00,6761623.00,7023994.00,7279630.00,7533814.00,7790774.00,8058112.00,8341290.00,8640478.00,8952971.00,9278104.00,9614756.00,9961993.00,10320116.00,10689247.00,11068051.00,11454784.00,11848385.00,12248901.00,12657361.00,13075044.00,13503753.00,13945205.00,14400722.00,14871572.00,15359600.00,15866871.00,16395477.00,16945753.00,17519418.00,18121477.00,18758138.00,19433604.00,20149905.00,20905360.00,21695636.00,22514275.00,23356247.00,24220660.00,25107925.00,26015786.00,26941773.00,27884380.00,28842482.00,29816769.00,30809787.00,31825299.00,32866268.00

In [15]:
# Duomenų kiekis

print("Number of rows:", df_population.shape[0])
print("Number of columns:", df_population.shape[1])

Number of rows: 266
Number of columns: 65

## 4. Supaprastinta Gapminder Vizualizacija: Metinė duomenų nuotrauka

### 4.1 Gapminder Reproduction vizualizacija 1970 metams

### 4.2 Gapminder Reproduction vizualizacija 1990 metams

### 4.3 Gapminder Reproduction vizualizacija 2000 metams

### 4.4 Gapminder Reproduction vizualizacija 2020 metams